$max-width: 1280px;
$color-bg: #171a21;
$color-text-main: #ffffff;
$color-link-main: #b8b6b4;
$header-height: 80px;

$desktop: 1024px;
$tablet-large: 900px;
$tablet: 768px;
$tablet-small: 640px;
$smartphone: 480px;
